    :root {
--color-principal: #1F3354;      /* azul principal */
--color-secundario: #F1A035;
--color-fondo: #E6E7E8;          /* fondo general */
--color-texto: #333333;          /* texto general */
} 
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    background-color: var(--color-principal);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    font-family: sans-serif;
  }

  .nav-logo-text {
  display: flex;
  align-items: center;
  gap: 30px; /* espacio entre logo y texto */
  }

.nav-text {
  font-size: 1.2rem;
  font-weight: light;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-text:hover {
  background: var(--color-fondo);
  color: var(--color-principal);
  transition: .3s ease-in-out;
}


  .nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .menu-toggle span {
    height: 3px;
    width: 25px;
    background: white;
    margin: 4px 0;
    transition: all 0.3s;
  }

  @media (max-width: 768px) {
    .nav-links {
      width: 100%;
      flex-direction: column;
      display: none;
    }

    .nav-links.active {
      display: flex;
    }

    .menu-toggle {
      display: flex;
    }

    .nav{
      padding: .5rem .5rem;
    }

  }


.footer {
  background-color: #14294b; /* azul oscuro */
  color: #fff;
  font-family: Arial, sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 4rem;
  flex-wrap: wrap;
}

.footer-left {
  flex: 1 1 250px;
  max-width: 300px;
}

.footer-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-uacj {
  height: 50px;
}

.footer-university {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.4;
}

.footer-socials {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
  font-size: 1.2rem;
}

.footer-socials a {
  color: #fff;
  text-decoration: none;
}

.logo-vinculacion {
  margin-top: 1rem;
  height: 40px;
}

.footer-links {
  flex: 3 1 600px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
}

.footer-links h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 0.4rem 0;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  background-color: #0e1f3a; /* aún más oscuro */
  text-align: center;
  padding: 1rem;
  font-size: 0.85rem;
}
